.video-player-main-wrapper {
  margin: 15px 0;
  min-height: 50vh;
  border: 1px solid red;
}
.video-player-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
}

.video-player-container video {
  border-radius: 7px;
}