.nav-main-container {
  width: 100%;
}

.header-container {
  width: 100%;
  padding: 10px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container .header-logo {
  flex: 0 0 20%;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to right, #fd2600, #ffbfa3);
  -webkit-background-clip: text;
  color: transparent;
}

.header-container .header-search {
  flex: 0 0 40%;
}

.header-search .search-input {
  padding: 7px 6px;
  border-radius: 3px;
  width: 100%;
  border: 2px solid var(--gray-color);
}

.header-container .header-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 20%;
  gap: 15px;
}
.category-main-wrapper {
  margin-top: 15px;
}

.category-container {
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.category-icon {
  margin-right: 8px;
  transition: transform 0.3s ease, fill 0.3s ease;
}

.category-item span {
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

/* Hover effects with different colors for each category */
.category-item:hover .category-icon {
  transform: scale(1.1); /* Slightly enlarge the icon */
}

.category-item:hover span {
  text-decoration: underline;
}
/* Individual hover colors */
category-item:nth-child(1):hover .category-icon {
  color: #e74c3c; 
}

category-item:nth-child(1):hover span {
  color: #e74c3c; 
}

.category-item:nth-child(2):hover .category-icon {
  color: #1abc9c; 
}

.category-item:nth-child(2):hover span {
  color: #1abc9c; 
}

.category-item:nth-child(3):hover .category-icon {
  color: #f39c12; 
}

.category-item:nth-child(3):hover span {
  color: #f39c12; 
}

.category-item:nth-child(4):hover .category-icon {
  color: #9b59b6; 
}

.category-item:nth-child(4):hover span {
  color: #9b59b6; 
}

.category-item:nth-child(5):hover .category-icon {
  color: #3498db; 
}

.category-item:nth-child(5):hover span {
  color: #3498db; 
}

.category-item:nth-child(6):hover .category-icon {
  color: #e67e22; 
}

.category-item:nth-child(6):hover span {
  color: #e67e22; 
}

.category-item:nth-child(7):hover .category-icon {
  color: #2ecc71; 
}

.category-item:nth-child(7):hover span {
  color: #2ecc71; 
}

.category-item:nth-child(8):hover .category-icon {
  color: #9b59b6; 
}

.category-item:nth-child(8):hover span {
  color: #9b59b6; 
}

.category-item:nth-child(9):hover .category-icon {
  color: #f1c40f; 
}

.category-item:nth-child(9):hover span {
  color: #f1c40f; 
}
