* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

:root {
  --primary-color: #FF6F3C;
  --secondary-color: #2B6CB0;
  --background-color: #F5F5F5;
  --light-gray: #E2E8F0;
  --text-color: #4A403A;
  --accent-color: #1DE9B6; 
  --hover-color: #FFD700;
  --highlight-color: #FF9AA2;
  --white-color: #fff;
  --black-color: #111;
  --gray-color: #808080;
  --light-gray-color: #d9d5d5;
}

html {
  scroll-behavior: smooth;
}
.icon {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.category-icon {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-right: 4px;
}

.hover:hover {
  opacity: 0.7;
}

.horizontal-line {
  width: 89%;
  margin: auto;
  border: 1px solid var(--light-gray-color);
}